In [1]:
data = [
    'words of radiance' #title
    'Brandon Sanderson'# author
    '2014' #year
    '978-0-7653-2635-5'#isbn
    'The Stormlight Archieve'#series
    'Epic fantasy'#genre
    'Hardcover'#format
    '1887'#pages
    'Tor Books'#publisher
]

In [6]:
better_data = {
    'title':'words of radiance',
    'author':'Brandon Sanderson',
    'year':'2014',
    'isbn':'978-0-7653-2635-5',
    'series':'The Stormlight Archieve',
    'genre':'Epic fantasy',
    'format':'Hardcover',
    'pages': '1887',
    'publisher':'Tor Books',
}

In [8]:
print(better_data['title'])
print(better_data['pages'])
print(better_data['genre'], better_data['format'])
print(better_data.get('writer'))
print(better_data.get('author'))
print(better_data.get('title'))

words of radiance
1887
Epic fantasy Hardcover
None
Brandon Sanderson
words of radiance

In [9]:
#set operations
#A U B -> A.union(B)
a = {'apple','google','microsoft',}
b = {'google','apple','facebook','tesla'}
print(a.union(b))
print(a | b ) # union operator

{'tesla', 'apple', 'facebook', 'google', 'microsoft'}
{'tesla', 'apple', 'facebook', 'google', 'microsoft'}

In [10]:
# intersection -> A.intersection(B)
print(a.intersection(b))
print(a & b) #intersection operator

{'google', 'apple'}
{'google', 'apple'}

In [11]:
#difference -> A.difference(B)
print(a.difference(b))
print(a - b) #difference operator - unique elements in a only
print(b - a) #unique elements in b only

{'microsoft'}
{'microsoft'}
{'tesla', 'facebook'}

In [12]:
# difference -> A.difference(a)
print(a.difference(b))
c = {'google', 'apple', 'microsoft'}
print(a-b) # difference operator - unique elements in a only
print(b-a) # difference operator - unique elements in b only
print(c-a) #unique elements in c only

{'microsoft'}
{'microsoft'}
{'tesla', 'facebook'}
set()

In [13]:
#symmetric difference -> A.symmetric_difference(B)
print(a.symmetric_difference(b))
print(a^b) #symmetric difference operator

{'tesla', 'facebook', 'microsoft'}
{'tesla', 'facebook', 'microsoft'}

question that has set usage

In [14]:
#wap to remove duplicates from a list
x = [12,34,56,78,12,34,56,78,90,12,34,56,78,90]
print(x)
x = list(set(x))
print(x)

[12, 34, 56, 78, 12, 34, 56, 78, 90, 12, 34, 56, 78, 90]
[34, 12, 78, 56, 90]

In [15]:
#wap to find common elements between two lists
x = [1,2,3,4,5,6,7,8,9]
y = [5,6,7,8,9,10,11,12,13]
x = set(x)
y = set(y)
print(list(x.intersection(y)))

[5, 6, 7, 8, 9]

* tuple
    - immutable
    - indexed, ordered
    - heterogenous
    - paranthesis '()'
    - python's default data structure

* sets
    - mutable
    - unique elements ony
    - unordered
    - can only hold immutable elements
    - curly braces{}
    - used for set operations: union, intersection, difference

In [16]:
a = 1,2,3,4,5,5
print(a)

(1, 2, 3, 4, 5, 5)

In [36]:
a = {1,2,3,4,5,6,1,2,3,4}
print(a)

{1, 2, 3, 4, 5, 6}

In [37]:
a.add(7)
a.add(4)
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [39]:

a.discard(4)
print(a)

{1, 2, 3, 5, 6, 7, 8, 9, 21, 22, 23}

In [38]:

a.update({4,5,6,7,8,9})
a.update({21,22,23})
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 21, 22, 23}

In [41]:
#transverse set
for i in a:
    print(i, end=" ")

1 2 3 5 6 7 8 9 21 22 23

In [1]:
student = {
    'name': 'John',
    'age': 25,
    'course': ['Math', 'CompSci']
}


#transverse dictionary
* normal-> giveonly keys
*c

In [2]:
for i in student:
    print(i)

name
age
course

In [6]:
for k,v in student.items():
    print(f'{k} -> {v}')

name -> John
age -> 25
course -> ['Math', 'CompSci']

In [8]:
#update a value
student['name'] = 'John Cena'#existing key is to update value
student

{'name': 'John Cena', 'age': 25, 'course': ['Math', 'CompSci']}

In [12]:
#adding a new value
student['college'] = 'ABCDU' # new key is to add value
student

{'name': 'John Cena',
 'age': 25,
 'course': ['Math', 'CompSci'],
 'college': 'ABCDU'}

In [16]:
# adding a new value through user
rollnumber = input('Enter roll number')
student['rollnumber'] = rollnumber
student

{'name': 'John Cena',
 'age': 25,
 'course': ['Math', 'CompSci'],
 'college': 'ABCDU',
 'rollnumber': '54'}

In [17]:
#removing a value - pop(key)
student.pop('age')

25

In [18]:
student

{'name': 'John Cena',
 'course': ['Math', 'CompSci'],
 'college': 'ABCDU',
 'rollnumber': '54'}

In [19]:
#extracting keys and value
student.keys()
student.values()
student.items()

dict_items([('name', 'John Cena'), ('course', ['Math', 'CompSci']), ('college', 'ABCDU'), ('rollnumber', '54')])

In [20]:
student.keys()

dict_keys(['name', 'course', 'college', 'rollnumber'])

In [21]:
student.values()

dict_values(['John Cena', ['Math', 'CompSci'], 'ABCDU', '54'])

In [22]:
student.items()

dict_items([('name', 'John Cena'), ('course', ['Math', 'CompSci']), ('college', 'ABCDU'), ('rollnumber', '54')])