In [1]:
my_string = 'Hello'
print(my_string)

Hello

In [2]:
my_string = "Hello"
print(my_string)

Hello

In [3]:
my_string = "'Hello'"
print(my_string)

'Hello'

In [4]:

my_string = """Hello, welcome to the world of Python"""
print(my_string)

Hello, welcome to the world of Python

In [5]:
str = 'tanya'
print('str =', str)

str = tanya

In [6]:
print('str[0] = ', str[0])

str[0] =  t

In [7]:
print('str[1] = ', str[1])

str[1] =  a

In [8]:
print('str[-1] = ', str[-1])

str[-1] =  a

In [9]:
print('str[-2] = ', str[-2])

str[-2] =  y

In [11]:
print('str[2] = ', str[-1])

str[2] =  a

In [12]:
name = "vijay Deenanath Chauhan"
print(name)
print(len(name))

vijay Deenanath Chauhan
23

In [14]:
middle_name = name[6:15]
print(middle_name)

Deenanath

In [15]:
last_name = name[16:24]
print(last_name)

Chauhan

In [16]:
first_name = name[:5]
print(first_name)
last_name = name[16:]
print(last_name)
last_name = name[-7:]
print(last_name)

vijay
Chauhan
Chauhan

In [34]:
sentence = 'The quick brown fox jumps over the lazy dog'
f15 = sentence[:15]
print(f15)
l5 = sentence[-5:]
print(l5)

The quick brown
y dog

In [17]:
amt = '$3000'
cleaned = amt[1:]
int(cleaned)

3000

In [20]:
username = '@championðŸŽ‰ðŸ˜­'
print(username[1:-2])

champion

slicing syntax

str[start:stop:stop]

In [23]:
name[:15:2]

'vjyDeaah'

In [24]:
name[::2]

'vjyDeaahCahn'

In [25]:
name[::-1]

'nahuahC htananeeD yajiv'

In [26]:
x=chr(65)
print(x)

A

In [28]:
y = ord('A')
print(y)

65

In [31]:
y = ord('{')
print(y)

123

In [32]:
z = ord('ðŸŽ‰')
print(z)

127881