In [1]:
my_string = 'Hello'
print(my_string)

Hello

In [2]:
my_string = "Hello"
print(my_string)

Hello

In [3]:
my_string = "'Hello'"
print(my_string)

'Hello'

In [4]:

my_string = """Hello, welcome to the world of Python"""
print(my_string)

Hello, welcome to the world of Python

In [5]:
str = 'tanya'
print('str =', str)

str = tanya

In [6]:
print('str[0] = ', str[0])

str[0] =  t

In [7]:
print('str[1] = ', str[1])

str[1] =  a

In [8]:
print('str[-1] = ', str[-1])

str[-1] =  a

In [9]:
print('str[-2] = ', str[-2])

str[-2] =  y

In [11]:
print('str[2] = ', str[-1])

str[2] =  a

In [12]:
name = "vijay Deenanath Chauhan"
print(name)
print(len(name))

vijay Deenanath Chauhan
23

In [14]:
middle_name = name[6:15]
print(middle_name)

Deenanath

In [15]:
last_name = name[16:24]
print(last_name)

Chauhan

In [16]:
first_name = name[:5]
print(first_name)
last_name = name[16:]
print(last_name)
last_name = name[-7:]
print(last_name)

vijay
Chauhan
Chauhan

In [34]:
sentence = 'The quick brown fox jumps over the lazy dog'
f15 = sentence[:15]
print(f15)
l5 = sentence[-5:]
print(l5)

The quick brown
y dog

In [17]:
amt = '$3000'
cleaned = amt[1:]
int(cleaned)

3000

In [20]:
username = '@championðŸŽ‰ðŸ˜­'
print(username[1:-2])

champion

slicing syntax

str[start:stop:stop]

In [23]:
name[:15:2]

'vjyDeaah'

In [24]:
name[::2]

'vjyDeaahCahn'

In [25]:
name[::-1]

'nahuahC htananeeD yajiv'

In [26]:
x=chr(65)
print(x)

A

In [28]:
y = ord('A')
print(y)

65

In [31]:
y = ord('{')
print(y)

123

In [32]:
z = ord('ðŸŽ‰')
print(z)

127881

strings Methods

In [1]:
a = 'apple'

In [2]:
a.upper()

'APPLE'

In [3]:
a = [1,2,3]

In [4]:
a.upper()

AttributeError: 'list' object has no attribute 'upper'

string formatting
* upper()
* lower()
* capitalize()

In [5]:
msg = 'Journey before destination'
msg2 = msg.upper()
msg3 = msg.lower()
msg4 = msg.capitalize()
print("original",msg)
print("upper",msg2)
print("lower",msg3)
print("capitalize",msg4)

original Journey before destination
upper JOURNEY BEFORE DESTINATION
lower journey before destination
capitalize Journey before destination

searching and replacing
* find() or index()
* replace()

In [7]:
word = "the quick brown fox jumps over the lazy dog"
print(word.find('own fox'))
print(word.find('fox'))
print(word.find('the'))
print(word.find('bear')) # not found

12
16
0
-1

In [9]:
word = "the quick brown fox jumps over the lazy dog" 
word2 = word.replace('fox', 'elephant')
word3 = word.replace('0', 'a')
word4 = word.replace('fox', 'elephant').replace('lazy','crazy').replace('brown','green')
print(word)
print(word2)
print(word3)
print(word4)

the quick brown fox jumps over the lazy dog
the quick brown elephant jumps over the lazy dog
the quick brown fox jumps over the lazy dog
the quick green elephant jumps over the crazy dog

In [19]:
#count() split() join()
word.count('fx')
word.count("quick")

1

In [12]:
word.split()

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [13]:
word.split(',')

['the quick brown fox jumps over the lazy dog']

In [14]:
msg = 'john Cena, 45, New York'
msg.split(',')

['john Cena', ' 45', ' New York']

In [15]:
msg.split()

['john', 'Cena,', '45,', 'New', 'York']

In [16]:
poem = '''Johny Johny, Yes Papa
Eating sugar? No Papa
Telling lies? No Papa
Open your mouth, Ha! Ha! Ha!
'''
poem.splitlines()

['Johny Johny, Yes Papa',
 'Eating sugar? No Papa',
 'Telling lies? No Papa',
 'Open your mouth, Ha! Ha! Ha!']

In [17]:
print(poem)

Johny Johny, Yes Papa
Eating sugar? No Papa
Telling lies? No Papa
Open your mouth, Ha! Ha! Ha!

In [18]:
print(poem.splitlines())

['Johny Johny, Yes Papa', 'Eating sugar? No Papa', 'Telling lies? No Papa', 'Open your mouth, Ha! Ha! Ha!']

Validation functions
- endswith
- startswith
- isalpha
- isnunmeric

In [21]:
file = 'hello.mp4'
print(file.endswith('.mp4'))
print(file.endswith('.m4'))
print(file.endswith('mp4'))
print(file.endswith('.mp3'))

True
False
True
False